<h1><%= post.id %>: <%= post.title %></h1>
<div id="body-<%= post.id %>"><%= truncate post.description %></div>


<p><%= button_to "More...", "/posts/#{post.id}/body", {class: "js-more", data: {id: post.id}, remote: true, method: :get} %></p>
