<h1><%= post.id %>: <%= post.title %></h2>
<div id="body-<%= post.id %>"><%= truncate post.description %></div>

<button class="js-more" data-id="<%= post.id %>">More...</button>
<!-- Prefixing the class name with js- is a common way to communicate that this class is used as a JavaScript selector.  -->
